.SignInForm {
	text-align: center;
	vertical-align: center;
}

.user {
	margin-top: 15px;
	margin-left: 5px;
}

.password {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.ErrMsg {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #f73838;
}

