.SignInForm {
	text-align: center;
	vertical-align: center;
}

.user {
	margin-top: 15px;
	margin-left: 5px;
}

.password {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.ErrMsg {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #f73838;
}

.SignInForm {
	
}

.submit {
	margin-top: 5px;
    border-radius: 5px;
}

.user {
    border-radius: 1px;
    padding: 1px 3px;
}

.password {
    border-radius: 1px;
    padding: 1px 3px;
}
