.SignUpForm {
	text-align: center;
	vertical-align: center;
    background: #d6d8db;
    padding: 15px;  
    border-radius: 50px;
}

.user {
    margin-top: 15px;
    margin-left: 5px;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 15px;
}

.password {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 15px;
}

.ErrMsg {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #f76313;
}


.submit {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted grey;
    margin-left: 5px;
    border-radius: 7px;
    background: #caccce;
    padding: 0px 7px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #2d2d2d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.info {
	font-weight: bold;
	font-style: oblique;
	color: #06275b;
}