.Login {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	padding-top: 70px;
}

.Sign {
	margin-top: 10px;
	text-align: center;
}

.Link {
	text-decoration: none;
	cursor: pointer;
	color: #06275b;
	font-weight: bold;
}